# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Table Data Science tools
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. S
4. L

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatplotlFlow


| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60

hours = (200 / 60) 
print(hours)

3.3333333333333335

## Author
Juan Ignacio Bacella